<html>
    <title>Form A PDF generator</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{>navbar}}
    <div style="padding:30px;margin-top:40px;">
    <body>
    <h1>Form-A Generator</h1>
    <div></div>
    <h2>{{message}}</h2>
    </body>
    </div>
</html>
