<html>
    <h1>Form-A Generator</h1>
    <title>Form A PDF generator</title>
    <script src="https://bossanova.uk/jexcel/v3/jexcel.js"></script>
    <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />
    <link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css">


    <button onclick="readData()">Save</button>
    <button onclick="Logout()">Logout</button>
    <div id="spreadsheet"></div>
    <script src="/js/app.js"></script>
    

</html>
