<!DOCTYPE html>

<html>
    <title>Form A PDF generator</title>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-ui-monthpicker@1.0.3/jquery.ui.monthpicker.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {{!-- this is for cache --}}
        <script src="https://bossanova.uk/jexcel/v4/jexcel.js"></script>
        <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
        <link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />
        <link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />
    </head>
    
    {{>navbar}}
    <div style="padding:30px;margin-top:40px;">
        <div class="loader">
            <img src="/images/loader.gif" alt="Loading...">
        </div>
    <body>
        <h1>Form-A Generator</h1>
    <div></div>

    <div class="wrapper">
        <div class="box a">
            <h4>Create new entry</h4>
            <hr style="noshadow ;border-top: 1px solid black;">
            <p>Select the date to create entry : 
            <input class="monthpicker" type="text" id="monthText" autocomplete="off" placeholder="Select the date"/>
            <button type="submit"id="submitBtn">Create Entry</button>
            </p>
            <span style="font-size: 12px">New entry will be created, if an entry exists then it will be displayed</span>
        </div>
        <div class="box b">
            <h4>Generate PDF for date range</h4>
            <hr style="noshadow ;border-top: 1px solid black;">
            <p>Enter the from and to date : 
            <input class="monthpickerfrom" type="text" id="monthTextfrom" autocomplete="off" placeholder="From date"/>
            <input class="monthpickerto" type="text" id="monthTextto" autocomplete="off" placeholder="To date"/>
            <button type="submit"id="submitRange">Show Entry</button>
            </p>
            <span style="font-size: 12px">This will generate the PDF for the keyed date range</span>
        </div>
        <div class="box c">
                <h4>Existing Entries: YYYY,MM</h4>
                <hr style="noshadow ;border-top: 1px solid black;">
            {{#each data}}
                <div class="nest">
                <a href="/data/fetch/link/{{this.periodString}}">{{this.periodString}}</a>
                </div>
            {{/each}}
        </div>
    </div>

    
    <script>

        $(document).ready(()=>{
            loader = document.getElementsByClassName('loader')
            loader[0].className = 'loader hidden'
        })

        document.getElementById('submitRange').onclick = function(){
            let dateRange = document.getElementById('monthTextfrom').value +'/'+ document.getElementById('monthTextto').value
            dateRange = dateRange.replace(/\//g,'+')
            location.replace('/data/range/'+dateRange)
        }
        $(function() {
        $('input.monthpickerfrom').monthpicker({
            changeYear: true,
        });
        });
        $(function() {
        $('input.monthpickerto').monthpicker({
            changeYear: true,
        });
        });



        document.getElementById('submitBtn').onclick = async function(){
            dateInputString = document.getElementById('monthText').value.split('/')
            dateInputString = dateInputString[1]+','+dateInputString[0]
                    const url = '/data/fetch/'+ dateInputString
                    let dateParsed = dateInputString.split(',').map((x)=>parseInt(x))
                    let period = new Date(dateParsed[0],dateParsed[1])
                    const response = await axios.get(url)
                    console.log(response)
                    if(response.data==='no data found'){
                        alert('No data found, entry will be created')
                        axios({
                            method:'post',
                            url:'/data/save/new',
                            data: {"dataObject":[
                                { "UnitRefDate": 'Template entry',"BillofEntryNo": 1, "CustomsStation": 2, "Code": 3,
                            "NameAddress":4, "Others":5, "DetailsB17":6,"Description":7, "InvoiceNo":8, "ProcCert":9,
                            "UnitWeight":10, "ValueReceipt":11, "Duty":12, "Registration":13, "DateReceipt":14, "DateRemoval":15,
                            "QuantityCleared":16, "ValueRemoval":17, "DutyInvolved":18,"Remarks":19,"PuposeofRemoval":20,"DateRemovals":21,
                            "QuantityRemoval":22,"ValueRemovals":23,"DutyRemovals":24,"DetailsDemovals":25,"PurposeReturns":26,"DateReturns":27,
                            "QuantityReturns":28,"ValueReturns":29,"DutyReturns":30,"DetailsReturns":31,"BalanceQuantity":32,"BalanceValue":33,"EndRemarks":34}
                            ],
                            "periodString":dateInputString,
                            "period": period
                            }
                        })
                        location.replace('/data/fetch/link/'+dateInputString)
                    }
                    else{
                        location.replace('/data/fetch/link/'+dateInputString)
                    }
            }

        $(function() {
        $('input.monthpicker').monthpicker({
            changeYear: true,
        });
        });

    </script>

</body>

</div>
</html>
