<!DOCTYPE html>

<html>
    <title>Form A PDF generator</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">

<body>
    {{>navbar}}
    <div style="padding:30px;margin-top:40px;">

    <div></div>

    <p>Select the month to create entry : 
    <input class="monthpicker" type="text" id="monthText" autocomplete="off" placeholder="Select the date"/>
    <button type="submit"id="submitBtn">Create Entry</button>
    </p>

    <div>
        <p>Enter the from and to date : 
        <input class="monthpickerfrom" type="text" id="monthTextfrom" autocomplete="off" placeholder="From date"/>
        <input class="monthpickerto" type="text" id="monthTextto" autocomplete="off" placeholder="To date"/>
        <button type="submit"id="submitRange">Show Entry</button>
        </p>
    </div>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui-monthpicker@1.0.3/jquery.ui.monthpicker.min.js"></script>
    <script>

        document.getElementById('submitRange').onclick = function(){
            let dateRange = document.getElementById('monthTextfrom').value +'/'+ document.getElementById('monthTextto').value
            dateRange = dateRange.replace(/\//g,'+')
            location.replace('/data/range/'+dateRange)
        }
        $(function() {
        $('input.monthpickerfrom').monthpicker({
            changeYear: true,
        });
        });
        $(function() {
        $('input.monthpickerto').monthpicker({
            changeYear: true,
        });
        });


        document.getElementById('submitBtn').onclick = async function(){
            dateInputString = document.getElementById('monthText').value.split('/')
            dateInputString = dateInputString[1]+','+dateInputString[0]
                if(dateInputString.length!==7 || dateInputString.length===0){
                    alert('Enter a valid date')
                    throw new Error('Enter a valid date')

                }
                else{// when its a valid date
                    const url = '/data/fetch/'+ dateInputString
                    let dateParsed = dateInputString.split(',').map((x)=>parseInt(x))
                    let period = new Date(dateParsed[0],dateParsed[1])
                    const response = await axios.get(url)
                    console.log(response)
                    if(response.data==='no data found'){
                        alert('No data found, entry will be created')
                        axios({
                            method:'post',
                            url:'/data/save/new',
                            data: {"dataObject":[
                                { "UnitRefDate": 'Starter kit',"BillofEntryNo": 1, "CustomsStation": 2, "Code": 3,
                            "NameAddress":4, "Others":5, "DetailsB17":6,"Description":7, "InvoiceNo":8, "ProcCert":9,
                            "UnitWeight":10, "ValueReceipt":11, "Duty":12, "Registration":13, "DateReceipt":14, "DateRemoval":15,
                            "QuantityCleared":16, "ValueRemoval":17, "DutyInvolved":18,"Remarks":19,"PuposeofRemoval":20,"DateRemovals":21,
                            "QuantityRemoval":22,"ValueRemovals":23,"DutyRemovals":24,"DetailsDemovals":25,"PurposeReturns":26,"DateReturns":27,
                            "QuantityReturns":28,"ValueReturns":29,"DutyReturns":30,"DetailsReturns":31,"BalanceQuantity":32,"BalanceValue":33,"EndRemarks":34}
                            ],
                            "periodString":dateInputString,
                            "period": period
                            }
                        })
                        location.replace('/data/fetch/link/'+dateInputString)
                    }
                    else{
                        location.replace('/data/fetch/link/'+dateInputString)
                    }
                }
            }

        $(function() {
        $('input.monthpicker').monthpicker({
            changeYear: true,
        });
        });

    </script>
    
    <table>
        <style>
            .well {
                min-height: 10px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: #f5f5f5;
                border: 1px solid #e3e3e3;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            }
        </style>
        <tr>
            <td>
                <p>Year,month</p>
            </td>
        </tr>

        {{#each data}}
        
        <tr>
            <td class="well">
                <p></p>
                <a href="/data/fetch/link/{{this.periodString}}">{{this.periodString}}</a>
                <p></p>
            </td>
        </tr>
        {{/each}}
    </table>

</body>

</div>
</html>