<html>
    <h1>Form-A Generator</h1>
    <form method="POST" action="/users/login">

                <input name="email" type="email" placeholder="Enter email">

                <input name="password" type="password" placeholder="Password">

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
</html>