<html>
    <title>Form A PDF generator</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{>navbar}}
    <div style="padding:30px;margin-top:40px;">
        <div class="loader">
            <img src="/images/loader.gif" alt="Loading...">
        </div>
    <body>
    <h1>Form-A Generator : Entry workbench</h1>
    <button id="save">Save</button>
    <button id="pdf">PDF</button>
    <div></div>
    <div id="spreadsheet" class="ex"></div>
    <script src="/js/bundle.js" url='/data/fetch/{{date}}'></script>
    </body>
    </div>
</html>
