<html>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{>navbar}}
    <div style="padding:30px;margin-top:40px;">
    <div class="loader">
        <img src="/images/loader.gif" alt="Loading...">
    </div>
    <body>
    <h1>Form-A Generator : Range picker</h1>
    <button id="pdf">PDF</button>
    <div></div>
    <div id="spreadsheet" class="ex"></div>
    <script src="/js/bundle.js" url='/data/rangeGet'></script>
 </body>
</div>
</html>
