<html>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://bossanova.uk/jexcel/v4/jexcel.js"></script>
    <script src="https://bossanova.uk/jsuites/v2/jsuites.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jexcel/v3/jexcel.css" type="text/css" />
    <link rel="stylesheet" href="https://bossanova.uk/jsuites/v2/jsuites.css" type="text/css" />
    {{>navbar}}
    <div style="padding:30px;margin-top:40px;">
    <div class="loader">
        <img src="/images/loader.gif" alt="Loading...">
    </div>
    <body>
    <h1>Form-A Generator : Range picker</h1>
    <button onclick="goToPDF()" id="pdf">PDF</button>
    <div></div>
    <div id="spreadsheet" class="ex"></div>
    <script src="/js/app.js" url='/data/rangeGet'></script>
 </body>
</div>
</html>
